@tailwind base;
  @tailwind components;
  @tailwind utilities;

  

  @layer base {
    :root {
      --background: 255, 255, 255;
      --foreground: 9, 11, 10;
      --card: 255, 255, 255;
      --card-foreground: 9, 11, 10;
      --popover: 255, 255, 255;
      --popover-foreground: 9, 11, 10;
      --primary: 24, 24, 26;
      --primary-foreground: 232, 232, 230;
      --secondary: 239, 237, 244;
      --secondary-foreground: 24, 24, 26;
      --muted: 244, 242, 248;
      --muted-foreground: 111, 110, 130;
      --accent: 245, 237, 244;
      --accent-foreground: 24, 24, 26;
      --destructive: 153, 51, 51;
      --destructive-foreground: 232, 232, 230;
      --border: 230, 228, 232;
      --input: 230, 228, 232;
      --ring: 9, 11, 10;
      --radius: 0.3rem;
    }
    
    .dark {
      --background: 9, 11, 10;
      --foreground: 232, 232, 230;
      --card: 9, 11, 10;
      --card-foreground: 232, 232, 230;
      --popover: 9, 11, 10;
      --popover-foreground: 232, 232, 230;
      --primary: 232, 232, 230;
      --primary-foreground: 24, 24, 26;
      --secondary: 44, 213, 209;
      --secondary-foreground: 232, 232, 230;
      --muted: 77, 69, 94;
      --muted-foreground: 63, 61, 82;
      --accent: 200, 202, 65;
      --accent-foreground: 24, 24, 26;
      --destructive: 142, 156, 156;
      --destructive-foreground: 232, 232, 230;
      --border: 38, 39, 41;
      --input: 38, 39, 41;
      --ring: 232, 232, 230;
    }
  }
  


  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

body, html {
  padding: 0;
  margin: 0;
}