@tailwind base;
  @tailwind components;
  @tailwind utilities;

  

  @layer base {
    :root {
      --background: 255, 255, 255;
      --foreground: 9, 11, 10;
      --card: 255, 255, 255;
      --card-foreground: 9, 11, 10;
      --popover: 255, 255, 255;
      --popover-foreground: 9, 11, 10;
      --primary: 24, 24, 26;
      --primary-foreground: 232, 232, 230;
      --secondary: 42, 213, 210;
      --secondary-foreground: 24, 24, 26;
      --muted: 104, 100, 115;
      --muted-foreground: 111, 110, 130;
      --accent: 209, 214, 255;
      --accent-foreground: 24, 24, 26;
      --destructive: 219, 68, 68;
      --destructive-foreground: 232, 232, 230;
      --border: 230, 228, 232;
      --input: 245, 245, 245;
      --success: 33, 204, 138;
      --success-foreground: 24, 24, 26;
      --ring: 9, 11, 10;
      --radius: 0.3rem;
    }
    
    .dark {
      --background: 9, 11, 10;
      --foreground: 232, 232, 230;
      --card: 9, 11, 10;
      --card-foreground: 232, 232, 230;
      --popover: 9, 11, 10;
      --popover-foreground: 232, 232, 230;
      --primary: 232, 232, 230;
      --primary-foreground: 24, 24, 26;
      --secondary: 70, 194, 192;
      --secondary-foreground: 232, 232, 230;
      --muted: 135, 131, 145;
      --muted-foreground: 63, 61, 82;
      --accent: 158, 186, 243;
      --accent-foreground: 24, 24, 26;
      --destructive: 191, 52, 52;
      --destructive-foreground: 232, 232, 230;
      --border: 38, 39, 41;
      --input: 38, 39, 41;
      --success: 33, 204, 138;
      --success-foreground: 232, 232, 230;
      --ring: 232, 232, 230;
    }
  }
  


  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

body, html {
  padding: 0;
  margin: 0;
}

.centered-container {
  @apply flex flex-col gap-16 min-w-96 rounded-2xl border border-primary-transparent-30 py-5 px-12
}